<ion-header>
  <ion-toolbar> 
    <ion-title>User Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="games"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="card">
  <div class="header">
    <div class="avatar">
      <img src="https://avatars0.githubusercontent.com/u/26366092?s=460&u=d862f3c7bcdf62224fa595adb84cf060de905047&v=4" alt="">
    </div>
  </div>
</div>

<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="playername">Emre Kucuk</h3>
    <h5 class="country">Istanbul, Turkey</h5>
  </div>
  <ion-button expand="full" color="primary">Game Library</ion-button>
  <ion-button expand="full" color="primary">Edit Profile Information</ion-button>
</div>

<ion-content class="background"></ion-content>
